
#content {
	font-family: Arial, Helvetica, sans-serif;
	margin: 75px auto;
	width: 600px;
	border: solid 3px #072776;
	border-radius: 50px;
	color: #212638;
	padding: 50px;
	background-color: #fee7cd;
}

h1 {
	color: #fdb766;
	text-shadow: 1px 0 0 #ba5a1a, -1px 0 0 #ba5a1a, 0 1px 0 #ba5a1a, 0 -1px 0 #ba5a1a;
	text-align: center;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 270%;
	margin-top: 0px;
}

p {
	text-align: justify;
}

.deu {
	color: #4b6700;
}

input {
	text-align: center;
}

input[type=submit] {
	margin-left: 170px;
	background-color: #072776;
	color: #fdb766;
	padding: 10px;
	border-width: 0px;
	font-size: 100%;
}
input[type=submit]:hover {
	background-color: #212638;
}