[Unit]
Description=test-ergebnis app for returning the lab results to people.
After=network.target

[Service]
WorkingDirectory=/var/www/apps/test-ergebnis
Environment=TEST_RESULT_PORT=8081
Environment="TEST_RESULT_THROTTLE_RATE=10/10min"
Environment="NODE_ENV=production"
Type=simple
User=www-data
ExecStart=/usr/bin/node /var/www/apps/test-ergebnis/server/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

